.place-card {
    margin-bottom: 30px;
}

.card {
    border: 0;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    img {
        border-radius: 15px 15px 0 0;
    }

    .card-body {
        padding: 20px;
        border-radius: 0 0 20px 20px;
    }
}

button {
    background-color: #0D6EFD;
    color: white;
    border-radius: 5px;
    border: #0D6EFD;
    
    &:hover {
        padding: 5px;
        transition-duration: 0.2s;
    }
}

section {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
    }
}

a {
    color: white;
    
    &:hover {
        color: white;
        text-decoration: none;
    }
}

body {
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fbb034);
}

h1 {
    font-size: 3em;
    background-color: white;
    border: 5px solid #ee0979;
    padding-bottom: 1%;
    border-radius: 15px;

    &:hover {
        padding: 2%;
        font-size: 3.2em;
        transition-duration: 0.3s;
    }
}

#fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 50%;
    padding: 0%;
    color: black;
    margin: 0;
    z-index: 1000;
}
